@CHARSET "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin-top: 102px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  position: relative;
  padding-bottom: 120px;
  min-height: 100vh;
  box-sizing: border-box;
}

p.body {
  text-size: 75%;
}

header {
  padding: 30px 4% 10px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h2.ptitle {
  padding-bottom: 5px;
  padding-left: 10px;
}

h2.atitle {
  text-align: center;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

ul.kinou {
  display: block;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

div#content {
  position: relative;
  width: 100%;
  padding: 70px;
  padding-top: 20px;
  line-height: 24px;
  text-align: center;
  word-break: break-all; .
  font_space: {letter-spacing: 0.1em
}

}
div.text {
  background-color: #fff;
  padding: 78px; height : 500px;
  text-align: center;
  height: 500px; text-align : center;
  border-radius: 19%;
}

div.text1 {
  background-color: #fff;
  width: 100%; height : 100%;
  margin: 12px;
  padding: 145px;
  padding-bottom: 185px;
  text-align: left;
  border-radius: 48%;
  height: 100%;
}

div.languege {
  background-color: #fff;
  padding: 78px;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  border-radius: 45%;
}

div.contacts {
  background-color: #fff;
  padding: 60px;
  width: 100%;
  text-align: center;
  border-radius: 48%;
}

div.productions {
  vertical-align: top;
  display: inline-block;
  padding: 19px;
  margin: 15px;
  height: 15px;
  width: 80%;
  background-color: #fff;
}

div.title {
  width: 7%;
  height: 10%;
  margin: 2px;
  padding: 0px;
  background-color: #fff;
}

div.title1 {
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  text-align: center;
  border-radius: 48%;
}

p.intro {
  font-size: 90%;
  display: inline-block;
}

table.keireki {
  width: 100%;
  padding: 10px;
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

table.keireki th {
  width: 20%;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #DDDDDD;
  color: #000;
  border: solid 1px black;
}

table.keireki td {
  width: 40%;
  padding: 10px;
  vertical-align: middle;
  border: solid 1px black;
}

table.skills {
  width: 64%;
  text-align: center;
  padding: 25px;
  margin: 25px;
  vertical-align: top;
  border-collapse: separate;
  border: none;
  border-spacing: 3px 9px;
  margin-left: 25%;
}

table.skills th {
  width: 10%;
  padding: 30px;
  font-weight: bold;
  vertical-align: center;
  background: #DDDDDD;
  color: #000;
  border: solid 1px black;
  border: none;
  border-radius: 48%;
}

table.skills td {
  width: 33%;
  padding: 10px;
  vertical-align: middle;
  border: solid 1px black;
  border: none;
}

table.skills tr {

}

table.product {
  width: 77%;
  text-align: center;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  border-collapse: separate;
  border: none;
  border-spacing: 3px 9px;
}

table.product th {
  width: 20%;
  height: 5%;
  padding: 15px;
  font-weight: bold;
  vertical-align: center;
  background: #DDDDDD;
  color: #000;
  border: solid 1px black;
  border: none;
  border-radius: 48%;
}

table.product td {
  width: 40%;
  position: relative; padding : 10px;
  vertical-align: middle;
  border: solid 1px black;
  border: none;
  padding: 10px;
}

table.product1 {
  width: 66%;
  text-align: center;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  border-collapse: separate;
  border: none;
  border-spacing: 3px 9px;
  margin-left: 18%;
}

table.product1 th {
  width: 15%;
  padding: 30px;
  font-weight: bold;
  vertical-align: center;
  background: #DDDDDD;
  color: #000;
  border: solid 1px black;
  border: none;
  border-radius: 48%;
}

table.product1 td {
  width: 30%;
  padding: 10px;
  texit-align: left; vertical-align : middle;
  border: solid 1px black;
  border: none;
  vertical-align: middle;
}

table.product2 {
  width: 70%;
  text-align: center;
  padding: 15px;
  margin: 15px;
  margin-left: 75px; vertical-align : top;
  border-collapse: separate;
  border: none;
  border-spacing: 3px 9px;
  vertical-align: top;
}

table.product2 th {
  width: 20%;
  height: 10%;
  padding: 30px;
  font-weight: bold;
  vertical-align: center;
  background: #DDDDDD;
  color: #000;
  border: solid 1px black;
  border: none;
  border-radius: 50%;
}

table.product2 td {
  width: 48%;
  position: relative;
  padding: 20px;
  vertical-align: middle;
  border: solid 1px black;
  border: none;
}

p.body {
  padding-left: 2%;
  font-size: 90%
}

div#footer {
  padding: 20px 0;
  width: 100%;
  background-color: #fff;
  font-size: 40%;
  text-align: center;
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
}

div.content1 {
  display: inline-block;
  padding: 30px;
  margin: 35px;
  margin-left: 5px;
  height: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
}

div.content2 {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
  line-height: 24px;
  text-align: left;
  word-break: break-all; .
  font_space: {letter-spacing: 0.1em
}

}
div.content3 {
  display: inline-block;
  padding: 30px;
  margin: 35px;
  margin-left: 5px;
  height: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
}

a.url {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 90%;
  color: #fb8b24;
  text-shadow: 0 0 50px #fb8b24;
  letter-spacing: 5px;
  text-decoration: underline;
}

a.url:after {
  content: attr(data-text);
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #fb8b24;
  filter: blur(15px);
}

a.url:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fb8b24;
  z-index: -2;
  opacity: .3;
  filter: blur(50px);
}

div.or {
  text-align: center;
  margin-top: 38px;
}

a.url1 {
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 90%;
  color: #fb8b24;
  text-shadow: 0 0 50px #fb8b24;
  letter-spacing: 5px;
  text-decoration: underline;
}

div.otitle {
  position: relative;
  padding: 10px;
  width: 40%;
  margin-left: 28%;
  line-height: 24px;
  text-align: center;
  word-break: break-all;
}

h2.otitle {
  background-color: #fff;
}

div.ocontent {
  position: relative;
  width: 98%;
  background-color: #fff;
  padding: 28px;
  margin: 12px;
  padding-top: 20px;
  padding-bottom: 20px; line-height : 24px;
  text-align: left;
  word-break: break-all; .
  font_space: {letter-spacing: 0.1em;
  line-height: 24px;
}

}
p.intro {
  width: 99%;
  margin: 2px;
  padding: 3px;
}

p.otext {
  font-size: 90%;
}